


<div class="container-fluid confirmation-bg d-flex justify-content-center pt-5">
  <div class="row d-flex justify-content-center">
    <div class="col-sm-8  text-center recover-control">
      <h2>Renvoyer les instructions de confirmation</h2>
      <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="field pt-5">
          <%= f.email_field :email, autofocus: true,placeholder: "Email", autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
        </div>
        <div class="actions pt-5">
          <%= f.submit "Renvoyer la confirmation" %>
        </div>
      <% end %>
    </div>
  </div>
</div>