.bg-paralax{
    background-image: url("terredechienBg.jpeg");
    /* Set a specific height */
    min-height: 49rem; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.logo-header{
    background-image: url('../../../images/terrechienLogo.svg');
    background-size: cover;
    width: 350px;
    height: 350px;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: -165px;
    border-radius: 50px;
    border: 1px solid yellow;
}