.bg-paralax{
    background-image: url("tt2.jpg");
    /* Set a specific height */
    min-height: 30rem; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position-y: 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    background-size: cover;
}
.control-dh-logo{
    padding-bottom: 10rem;
}
.logo-header{
    background-image: url('dogHeroLogo.png');
    background-size: contain;
    background-position: center;
    width: 350px;
    height: 350px;
    background-repeat: no-repeat;
    position: absolute;
    margin-top: -9.4%;
}
