@media only screen and (min-width: 320px) and (max-width: 768px) {
    .bg-paralax{
        display: none;
    }
    .control-dh-logo{
        margin-top: 5rem;
        margin-bottom: -5rem;
    }
    .services-control{
        margin-top: 10rem;
    }
}