.button-show-event-sub{
    text-decoration: none !important;
    font-weight: 600;
}

.control-button-show{
    border-radius: none;
    background-color: rgba(0, 128, 0, 0.349);
}

.control-button-show:hover{
    border: 1px solid rgba(0, 0, 0, 0.308);
}

.popup-gallery a img {
    max-width: 10%;
}

