<!-- BG WIDE Start -->
<div class="container-fluid p-0">
    <div class="bg-paralax">
    </div>
</div>
<!-- BG WIDE End -->
<!-- DH LOGO Start -->
<div class="container control-dh-logo">
    <div class="row d-flex justify-content-center">
    </div>
</div>

<!-- Services Start -->
<div class="container-fluid bg-light services-control">
    <div class="container py-5">
        <div class="d-flex flex-column text-center mb-2">
            <h1 class="display-4 m-0"><span class="text-success">Terre des chien  </span> Association</h1>
        </div>
        <div class="row pb-3">
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="d-flex flex-column text-center bg-white mb-2 p-3 p-sm-3">
                    <div class="d-flex justify-content-center">
                        <video autoplay muted loop id="myVideo">
                            <source src="https://cdn.dribbble.com/users/2925580/screenshots/11626577/media/36b8cd8d56fac7f268d1d9e05eb26b0b.mp4" type="video/mp4">
                        </video>
                    </div>
                    <p class="pt-3">L’association œuvre en particulier pour les maîtres et chiens dépourvus de moyen de transport.</p>
                    <a class="text-uppercase font-weight-bold" href="https://terredeschiens.fr/lassociation/#:~:text=L%E2%80%99association%C2%A0%C5%93uvre%20en,%C3%A0%20cet%20effet." target="_blank">Read More</a>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="d-flex flex-column text-center bg-white p-sm-3">
                    <div class="d-flex justify-content-center">
                        <img src="https://cdn.dribbble.com/users/2008861/screenshots/10810834/media/dd42174c95cdb7d065478d67f4bcb591.gif" alt="prople image cartoon" class="index-images-control" />
                    </div>
                    <p class="pt-3">TERRE DES CHIENS propose des activités régulières d’éducation canine.</p>
                    <a class="text-uppercase font-weight-bold" href="https://terredeschiens.fr/lassociation/#:~:text=TERRE%20DES%20CHIENS%20propose,des%20prochaines%20activit%C3%A9s%20propos%C3%A9es.">Read More</a>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="d-flex flex-column text-center bg-white mb-2 p-3 ">
                    <video autoplay muted loop id="myVideo">
                        <source src="https://cdn.dribbble.com/users/927009/screenshots/19315712/media/ad80c854b2c85578614df3fa4afff997.mp4" type="video/mp4">
                    </video>
                    <p class="pt-3">Diam amet eos at no eos sit lorem, amet rebum ipsum clita stet, diam sea est magna diam eos, rebum sit vero stet ipsum justo</p>
                    <a class="text-uppercase font-weight-bold" href="">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Services End -->