.recover-control {
  height: 59vh;
  margin-top: 50px;
  border: 1px solid rgba(0, 0, 0, 0.322);
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.548);
  padding: 30px;
}

.confirmation-bg {
  background-image: url("https://wallpaperaccess.com/full/4439011.jpg");
  background-size: cover;
  background-position: bottom;
  height: 87.3vh;
}

.actions input:hover {
  cursor: pointer !important;
}