<div class="  bg-primary vh-100">
    <h1 class="text-white text-center bg-primary pt-5">404</h1>

    <h1 class="text-white text-center pt-5 mt-5">Event not found please go <%=link_to 'Back to events', event_path, class: 'text-white border p-3' %></h1>
</div>
