<div class="  bg-primary vh-100">
    <h1 class="text-white text-center bg-primary pt-5">404</h1>

    <h1 class="text-white text-center pt-5 mt-5">You do not have access to this page please go <%=link_to 'Back to profile', admin_user_path(current_user.id), class: 'text-white border p-3' %></h1>
</div>
