<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>

 <%= button_to "Retourner", admin_user_path(current_user), :method => :get, :form_class => "btn" %>

<%= render 'form', user: @user %>

