
  
.brk-btn {
    text-decoration: none;
    color: rgba(0, 128, 0, 0.274);
    padding-bottom: 0.15em;
    box-sizing: border-box;
    box-shadow: inset 0 -0.2em 0 aqua;
    transition: 0.2s;
    &:hover {
      color: white;
      font-weight: 600;
      box-shadow: inset 0 -3em 0 rgba(0, 128, 0, 0.315);
      transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
    }
  }
  
  .brk-btn {
    position: relative;
    background: none;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    border: 0.2em solid aqua;
    padding: 0.5em 1em;
    cursor: pointer;
    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 10%;
      background: #222;
      height: 0.3em;
      right: 20%;
      top: -0.21em;
      transform: skewX(-45deg);
      -webkit-transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
      transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
    }
    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 10%;
      background: #222;
      height: 0.3em;
      left: 20%;
      bottom: -0.25em;
      transform: skewX(45deg);
      -webkit-transition: all 0.45 cubic-bezier(0.86, 0, 0.07, 1);
      transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
    }
    &:hover {
      &::before {
        right: 80%;
        background-color: yellow;
      }
      &::after {
        left: 80%;
        background-color: yellow;
      }
    }
}
  