.counter__item {
    background: rgba(0, 128, 0, 0.329);

    height: auto;
    width: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    z-index: 1;
    color: black;
    padding: 10px;
    border-radius: 50px 0px 0px 0px;
}


.subscribe-button,
.unsubscribe-button{
    background-color: rgba(0, 128, 0, 0.349);
    border: 0;
    border-radius: 10px 0px 0px 0px;
    padding-left: 10px;
    font-weight: 600;
    letter-spacing: 2px;
}

.subscribe-button:hover,
.unsubscribe-button:hover{
    box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.226)
}

.btn-show{
    border-right: 1px solid rgba(0, 0, 0, 0.075);
}
.btn-show,
.btn-edit{
    padding: 10px;
    background-color: rgba(0, 128, 0, 0.349);
    color: black !important;
    font-weight: 600;
}

.btn-show:hover,
.btn-edit:hover{
    background-color: rgba(0, 128, 0, 0.349) !important;
    text-decoration: none !important;
    box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.226) !important;
}


hr{
background-color: rgba(0, 0, 0, 0.336);  
}

.my-events{
    border: 15px solid rgb(0, 0, 0);
    overflow: scroll;
}

.my-events-subscribe{
    border: 15px solid rgb(0, 0, 0);
    overflow: scroll;
}