<section class="pad-top-all">
</section>
<div class="container-fluid pt-5">
  <div class="row">
    <div class="col-sm text-center">
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5279.263856131043!2d7.7368742996211175!3d48.57859805325216!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4796c9b4c3aa83d5%3A0x7f7e88f60b7b1dc0!2sParc!5e0!3m2!1sen!2sfr!4v1666190104485!5m2!1sen!2sfr" width="80%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <div class="text-center pt-2">
        <p><span>Coordonnées google maps:</span> <strong>48.57882694328593, 7.73772326441821</strong></p>
        <p><span>Phone:</span> <a href="tel://1234567920">+33 6 04 09 85 73</a></p>
        <p><span>Email:</span>
          <a href="https://www.google.com/gmail/about/" target="_blank">contact@terredeschiens.fr</a></p>
      </div>
    </div>
  </div>
</div>