.navbar{
    background-color: black;
}

.navbar-nav{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.nav-item{
    padding: 0px;
    margin: 0px;
}
.nav-item input{
    padding: 30px;
    background-color: #000000;
    border: none;
    color: white;
    font-weight: 600;
}
.nav-item input:hover{
    border-bottom: 2px solid rgba(255, 255, 255, 0.342);
    cursor: pointer;
    margin-top: -2px;
}

.logo_doghero{
    margin-left: -100px;
}