<!-- Pricing Plan Start -->
<div class="container-fluid  pad-top-all">
    <div class="container-fluid py-5">
        <div class="d-flex flex-column text-center mb-5">
            <h1 class="display-4 m-0">Les quantités s'entendent par unité de<span class="text-primary"> 5 kg.</span>
            </h1>
            <h4 class="text-secondary mb-3 mt-4">Si vous souhaitez acheter un sac complet (20 kg) il vous faudra
                donc
                prendre 4 unités de 5 kg.</h4>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-lg-3 mb-4">
                <div class="card border-0">
                    <h4 class="text-center" , style="font-size: 2vw;">Croquettes Puppy</h4>
                    <div class="card-header position-relative border-0 p-0 mb-4">
                        <img class="card-img-top"
                            src="https://happydog_en_sb.cstatic.io/440x440/f/69110/480x480/c90b13149a/hd-vet-new-product-slider-packshots-sensible-11kg-300g.png"
                            alt="dog food">
                        <div class="position-absolute d-flex flex-column align-items-center justify-content-center w-100 h-100"
                            style="top: 0; left: 0; z-index: 1; background: rgba(0, 0, 0, .5);">
                            <h1 class="display-4 text-white mb-0">
                                <small class="align-top" style="font-size: 22px; line-height: 45px;">$</small>11
                            </h1>
                        </div>
                    </div>
                    <div class="card-body text-center p-0">
                        <ul class="list-group list-group-flush mb-4">
                            <li class="list-group-item p-2"><i class="fa fa-times text-danger mr-2"></i>Veterinary
                                Medicine
                            </li>
                        </ul>
                    </div>
                    <div class="card-footer border-0 p-0">
                        <a href="https://terredeschiens.assoconnect.com/collect/description/267040-l-precommande-croquettes?header=%2Fpage%2F2017812-precommande-de-croquettes#:~:text=Croquettes%20Puppys%20(5%20kg)"
                            target="_blank" class="btn btn-primary btn-block p-3">Buy now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mb-4">
                <div class="card border-0">
                    <h4 class="text-center" , style="font-size: 2vw;">Croquettes premium</h4>
                    <div class="card-header position-relative border-0 p-0 mb-4">
                        <img class="card-img-top"
                            src="https://happydog_en_sb.cstatic.io/440x440/f/69110/480x480/c90b13149a/hd-vet-new-product-slider-packshots-sensible-11kg-300g.png"
                            alt="dog food">
                        <div class="position-absolute d-flex flex-column align-items-center justify-content-center w-100 h-100"
                            style="top: 0; left: 0; z-index: 1; background: rgba(0, 0, 0, .5);">
                            <h1 class="display-4 text-white mb-0">
                                <small class="align-top" style="font-size: 22px; line-height: 45px;">$</small>11<small
                                    class="align-bottom" style="font-size: 16px; line-height: 40px;"></small>
                            </h1>
                        </div>
                    </div>
                    <div class="card-body text-center p-0">
                        <ul class="list-group list-group-flush mb-4">
                            <li class="list-group-item p-2"><i class="fa fa-times text-danger mr-2"></i>Veterinary
                                Medicine
                            </li>
                        </ul>
                    </div>
                    <div class="card-footer border-0 p-0">
                        <a href="https://terredeschiens.assoconnect.com/collect/description/267040-l-precommande-croquettes?header=%2Fpage%2F2017812-precommande-de-croquettes#:~:text=Croquettes%20Premium%20(5%20kg)"
                            target="_blank" class="btn btn-primary btn-block p-3">Buy
                            now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mb-4">
                <div class="card border-0">
                    <h4 class="text-center" , style="font-size: 2vw;">Croquettes saumon</h4>
                    <div class="card-header position-relative border-0 p-0 mb-4">
                        <img class="card-img-top"
                            src="https://happydog_en_sb.cstatic.io/440x440/f/69110/480x480/c90b13149a/hd-vet-new-product-slider-packshots-sensible-11kg-300g.png"
                            alt="dog food">
                        <div class="position-absolute d-flex flex-column align-items-center justify-content-center w-100 h-100"
                            style="top: 0; left: 0; z-index: 1; background: rgba(0, 0, 0, .5);">
                            <h1 class="display-4 text-white mb-0">
                                <small class="align-top" style="font-size: 22px; line-height: 45px;">$</small>15
                            </h1>
                        </div>
                    </div>
                    <div class="card-body text-center p-0">
                        <ul class="list-group list-group-flush mb-4">

                            <li class="list-group-item p-2"><i class="fa fa-check text-secondary mr-2"></i>Veterinary
                                Medicine
                            </li>
                        </ul>
                    </div>
                    <div class="card-footer border-0 p-0">
                        <a href="https://terredeschiens.assoconnect.com/collect/description/267040-l-precommande-croquettes?header=%2Fpage%2F2017812-precommande-de-croquettes#:~:text=11%2C00%C2%A0%E2%82%AC-,Croquette%20saumon,-15%2C00%C2%A0%E2%82%AC"
                            target="_blank" class="btn btn-primary btn-block p-3">Buy now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mb-4">
                <div class="card border-0">
                    <h4 class="text-center" , style="font-size: 2vw;">Croquettes agneau</h4>
                    <div class="card-header position-relative border-0 p-0 mb-4">
                        <img class="card-img-top"
                            src="https://happydog_en_sb.cstatic.io/440x440/f/69110/480x480/c90b13149a/hd-vet-new-product-slider-packshots-sensible-11kg-300g.png"
                            alt="dog food">
                        <div class="position-absolute d-flex flex-column align-items-center justify-content-center w-100 h-100"
                            style="top: 0; left: 0; z-index: 1; background: rgba(0, 0, 0, .5);">
                            <h1 class="display-4 text-white mb-0">
                                <small class="align-top" style="font-size: 22px; line-height: 45px;">$</small>15
                            </h1>
                        </div>
                    </div>
                    <div class="card-body text-center p-0">
                        <ul class="list-group list-group-flush mb-4">
                            <li class="list-group-item p-2"><i class="fa fa-check text-secondary mr-2"></i>Veterinary
                                Medicine
                            </li>
                        </ul>
                    </div>
                    <div class="card-footer border-0 p-0">
                        <a href="https://terredeschiens.assoconnect.com/collect/description/267040-l-precommande-croquettes?header=%2Fpage%2F2017812-precommande-de-croquettes#:~:text=15%2C00%C2%A0%E2%82%AC-,Croquettes%20agneau,-15%2C00%C2%A0%E2%82%AC"
                            target="_blank" class="btn btn-primary btn-block p-3">Buy now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Pricing Plan End -->