.dog_image_profile{
    max-width: 200px;
    max-height: 113px;
    background-size: contain;
}

.info_dog{
    padding-left: 50px;
    width: 100%;
}

.my_event_user_profile{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}