

.info_dog{
    padding-left: 50px;
    width: 100%;
}

.my_event_user_profile{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


.btn-edit-dog{
    background-color: rgba(0, 128, 0, 0.349);
}